<!DOCTYPE html>
<html>
<head>
  <title>ChatApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

  <% if session[:user_name] %>
    Welcome <div id="user_name"><%= session[:user_name] %></div>
  <% end %>

<%= yield %>


<%= javascript_include_tag 'application', 'http://localhost:9292/faye.js', 'data-turbolinks-track' => true %>
</body>
</html>
